<% include ./header %>

<div>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to our great website</h1>
        <p class="lead">Nunc convallis pretium lacus id ultrices. Donec eros lacus, aliquam eu pharetra ut, fermentum nec nisl. Vestibulum eu turpis dolor.</p>
        <hr class="my-4">
        <p>Donec sed tempor augue, ut viverra lectus. Sed dignissim massa pharetra mauris sagittis viverra. Cras ornare sagittis finibus. Proin sagittis venenatis mollis. Aenean ac libero ligula. Suspendisse potenti. Duis tincidunt metus ut faucibus posuere. Ut ligula lorem, congue pharetra pellentesque et, mollis a metus.</p>
        <a class="btn btn-primary btn-lg" href="/protected" role="button">Click here to login</a>
      </div>
    
</div>

<% include ./footer %>